image:
  name: hashicorp/terraform:1.4.6
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

stages:
  - Testing
  - Terraform Apply
  - Push Resume Files
  - Terraform Destroy

Validate Terraform:
  stage: Testing
  script:
    - cd Terraform/
    - terraform init -backend=false
    - terraform validate
    - terraform fmt -check  
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main" || $CI_COMMIT_BRANCH == "main"'

Terraform Apply:
  stage: Terraform Apply
  script:
    - cd Terraform/
    - terraform init
    - terraform apply -auto-approve
    - echo "S3_BUCKET=hello" >> /builds/onabil1998/aws_resume_challenge/build.env
  artifacts:
    reports:
      dotenv: /builds/onabil1998/aws_resume_challenge/build.env
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

Push Resume Files:
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest

  stage: Push Resume Files
  script:
    - cd Resume-files/
    - sed -i 's/lambda_url/$LAMBDA_URL/' index.js
    - echo "$S3_BUCKET"
    - aws s3 sync . s3://"$S3_BUCKET" --delete
  needs:
    - Terraform Apply
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    
Terraform Destroy:
  stage: Terraform Destroy
  script: 
    - cd Terraform/
    - terraform init
    - terraform destroy -auto-approve
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual