name: CI/CD for frontend and backend

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  backend-terraform:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - uses: hashicorp/setup-terraform@v2

    - name: Terraform fmt
      id: fmt
      run: terraform fmt -check

    - name: Terraform Init
      id: init
      run: terraform init

    - name: Terraform Validate
      id: validate
      run: terraform validate

    - name: Terraform Plan
      id: plan
      run: terraform plan
    
    - name: Terraform Apply
      id: apply
      run: terraform apply -auto-approve
  
  frontend-s3:
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v3
    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_OUTPUT: json
        aws-region: us-east-1

    - name: Sync S3 Static files
      run: aws s3 sync static_files_s3 ${{ secrets.S3_BUCKET }} --delete